@charset "ISO-8859-1";

footer{
	background-color: rgb(0, 45, 114); 
	position: absolute;
	color: #fff;
	width: 100vw;
}

.social{
	padding: 0;
}
h4{
	padding: 15px 0px;
}

.social li{
	display: inline-block;
	background-color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	padding: 0cm;
}
.social li a i{
	padding-top: 4px;
	color: #333;
	transition: _3s;
	font-size: 25px;
}

.social li a i:hover{
	color: rgb(30,118,226);
	text-decoration: none;
}

.footer .links ul{
	list-style-type: none;
}

.footer .links li a{
	color: #fff;
	transition: color 0.2s;
}

.footer .links li a:hover{
	text-decoration: none;
	color: rgb(30,118,226);
}

.footer .location i{
	font-size: 18px;
	text-align: left;
}

.footer .copyright p{
	font-size: 1.3rem;
	text-shadow: 1px 1px black;
	border-top: 1px solid rgb(255,255,255,0.8);
	border-bottom: 1px solid rgb(255,255,255,0.8);
}



