@charset "ISO-8859-1";

.nav-link:hover {
	color: white;
	font-weight: bold;
}

.nav-link,
.dropdown-item active {
	color: white;
	
}
.dropdown-item{ color: #000080}
.dropdown-divider{background-color: blue }
.dropdown-item:hover { font-weight: bold;color: #000080;}

.dropdown-menu{ background-color: #a7cafe}


h5 { color: #000080;
	text-align: center;
	font-weight: 700;
}

h2{margin: 10px; color: white}
td{color:white}

b{
	background-color: #000080; 
	padding: 10px;
	}

