@charset "ISO-8859-1";

.jumbotron {
    position: relative;
    background:none;
}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/images/websitebg1.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}

.nav-link:hover {
	color: white;
	font-weight: bold;
}

.nav-link,
.dropdown-item active {
	color: white;
	
}
.dropdown-item{ color: #000080}
.dropdown-divider{background-color: blue }
.dropdown-item:hover { font-weight: bold;color: #000080;}

.dropdown-menu{ background-color: #a7cafe}

