
@charset "ISO-8859-1";


th { text-align:center; color: white; font-size: 20px;}
td { text-align:center; color: white}

.cardSet2{
	background-color:#000080;
	align-items: center;
	align-content: center;
}

.table1 {margin: 5em; }

h5 { color:white}