@charset "ISO-8859-1";

.nav-link:hover {
	color: white;
	font-weight: bold;
}

.nav-link,
.dropdown-item active {
	color: white;
	
}
.dropdown-item{ color: #000080}
.dropdown-divider{background-color: blue }
.dropdown-item:hover { font-weight: bold;color: #000080;}

.dropdown-menu{ background-color: #a7cafe}


h5 { color: #000080;
	text-align: center;
	font-weight: 700;
}
p {text-align: center}
button.btn btn-primary{text-align: center}


.card-body {
	padding: 0.5rem;
}

.card{
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	text-align: center;
	
}

.cardSet1{
	background-color:#a7cafe;
}

.cardSet2{
	background-color:#a7cafe;
}

.cardSet3{
	background-color:#a7cafe;
}