@charset "ISO-8859-1";
.align{
	text-align: center;
	color:fuchsia;
	font-family: monospace;
	width: 75x;
	height: 75%;
	
	
}
.intro{
	text-align: center;
	
}
.one{
	text-align:center;
	font-style: inherit;
	color: blue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 60px;
  column-gap:inherit;
  display: flex;
  flex-wrap: wrap;
 
}

/* Create four equal columns */
/* On screens that are 992px wide or less, go from four columns to two columns */

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  flex: 30%;
  padding: 20px;
  border:none; 
}


@media screen and (max-width: 992px) {
  .flip-card {
    flex: 50%;
 
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid {
    flex-direction: column;

  }
}



/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: fixed;
  width: inherit;
  height: inherit;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
}

.table{
	display:none;
}

.form-control{
	text-align:center;
}

#title{
	
	color:white;
}
#ruler{
	line-height: normal;
	color:white;
}

.view-btn{
	background-color: 	#1E90FF;
	color:white;
}